body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #deddd9;
  transition: background-color 0.3s ease;
}

.dark-mode {
  background-color: #1f1f1f; /* Dark mode background color */
  color: #deddd9;
}

h1,
h2 {
  text-align: center;
}

p {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

button {
  margin: 20px auto;
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #574d31;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px #3e3a29;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #6b5a3e;
  box-shadow: 0 4px #574d31;
}

button:active {
  background-color: #4a3d28;
  box-shadow: 0 2px #3e3a29;
  transform: translateY(2px);
}

#recipesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe {
  border: 5px solid #574d31;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
}

.recipe img {
  width: 100%;
  border-radius: 5px;
}
