body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #deddd9;
}

h1,
h2 {
  text-align: center;
}

p {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

button {
  margin: 20px auto;
  display: block;
}

#recipesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe {
  border: 5px solid #574d31;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
}

.recipe img {
  width: 100%;
  border-radius: 5px;
}
